<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Spark Instant Inspiration with Generative Tools</h2>
                <hr class="light">
                <p class="text-faded">At the heart of Track Jammer is a powerful set of tools designed to get you from silence to a full groove in seconds. It's your creative partner, helping you generate ideas you never would have written on your own. Move beyond simple probability and create truly organic patterns with controllable chance and variation.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Explore Features</a>
            </div>
        </div>
    </div>
</section>
