<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Stop Clicking, Start Performing.</h1>
            <hr>
            <p>Tired of meticulously programming every note? Imagine starting a live set with a completely blank slate
                and building a rich, evolving track right in front of the audience. This is a generative MIDI sequencer
                designed to turn your Launchpad into an instrument for improvisation, happy accidents, and dynamic live
                performance.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Discover Track Jammer</a>
        </div>
    </div>
</header>